body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 700px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 10px 0px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main table {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}

#main td {
	padding-left: 20px;
	max-width: 185px;
	overflow: auto;
	white-space: nowrap;
}
