<div id="save-cred-partial">
	<p>Do you want PassKeeper to store these credentials?</p>
	<input type="button" value="Yes" id="passkeeper-save"/>
	<input type="button" value="No" id="passkeeper-no-save"/>
</div>